<div class="contenedor">
    <div class="title">
    <p> JUEGOS</p>
    </div>
    <div class="descripcion">
        <P>Me gustan mucho los videojuegos y mi favorito es CSGO</P>
    </div>

    <div class="image">
        <img src="../../../assets/img/img3.png" alt="">
    </div>
</div>