<div class="contenedor">
    <div class="title">
        <p> MUSICA</p>
    </div>

    <div class="descripcion">
        <P>La musica que mas me gusta es la de Twenty one pilots</P>
    </div>

    <div class="image">
        <img src="../../../assets/img/img1.jpg" alt="">
    </div>
</div>