<div class="contenedor">
  <div class="cont1"><app-componente1></app-componente1></div>
  <div class="cont2"><app-componente2></app-componente2></div>
  <div class="cont3"><app-componente3></app-componente3></div>
  <div class="cont4"><app-componente4></app-componente4></div>
  <div class="cont5"><app-componente5></app-componente5></div>
</div>
