.cont1 {
    height: 200px;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 35px;
    grid-row-gap: 20px;
}

.cont1 {grid-area: 1 / 1 / 2 / 2;}
.cont2 {grid-area: 1 / 2 / 2 / 3;}
.cont3 {grid-area: 1 / 3 / 2 / 4;}
.cont4 {grid-area: 2 / 2 / 3 / 3;}
.cont5 {grid-area: 2 / 3 / 3 / 4;}


.cont1 {
    border-radius: 15px;
    height: 320px;
    background-color: rgba(255, 255, 255, 0);
}

.cont2 {
    border-radius: 15px;
    height: 320px;
    background-color: rgb(255, 255, 255);
}

.cont3 {
    border-radius: 15px;
    height: 320px;
    background-color: rgb(255, 255, 255);
}

.cont4 {
    border-radius: 15px;
    height: 320px;
    background-color: rgb(255, 255, 255);
}

.cont5 {
    border-radius: 15px;
    height: 320px;
    background-color: rgb(255, 255, 255);
}