<div class="contenedor">
    <div class="title">
    <p> MASCOTAS</p>
    </div>

    <div class="descripcion">
        <P>Tengo uns sola mascota llamada Kisha</P>
    </div>

    <div class="image">
        <img src="../../../assets/img/foto3.JPEG" alt="">
        <img src="../../../assets/img/foto7.jpeg" alt="">
        <img src="../../../assets/img/foto6.jpeg" alt="">
    </div>
</div>