<div class="contenedor">
    <div class="title">
        <p> DOMICILIO</p>
    </div>

    <div class="descripcion">
        <P>Vivo en el municipio de Atlatlahucan Morelos</P>
    </div>

    <div class="image">
        <img src="../../../assets/img/img2.png" alt="">
    </div>

</div>